<!-- Navigation -->
        <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="{{ url('home') }}">online Store Admin</a>
            </div>
            <!-- Top Menu Items -->
            <ul class="nav navbar-right top-nav">
                {%if is_granted('ROLE_ADMIN')%}
            <li class="nav-item">
              <a class="nav-link" href="{{url('site_home')}}">Go To Website</a>
            </li>
            {%endif%}
              {% if is_granted('ROLE_ADMIN') %}
                 
                <li class="dropdown">
               
                <a href="#" class="dropdown-toggle" data-toggle="dropdown"> <img class="nav-profile-img rounded-circle" width="30" height="30" src="/image/upload/{{app.user.image}}"></a>
                    {# <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-user"></i> {{app.user.getFirstName()}}<b class="caret"></b></a> #}
                    <ul class="dropdown-menu">
                        <li>
                            <a href="{{url('profile',{'id':app.user.id})}}"><i class="fa fa-fw fa-user"></i> Profile</a>
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-fw fa-envelope"></i> Inbox</a>
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-fw fa-gear"></i> Settings</a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="{{url('dash_logout')}}"><i class="fa fa-fw fa-power-off"></i> Log Out</a>
                        </li>
                    </ul>
                </li>


                {%else%}
<li>
                    <a href="{{url('dash_login')}}">Login</a>
                </li>
                <li>
                    <a href="{{url('dash_register')}}">Register</a>
                </li>
                {%endif%}
            </ul>
            <!-- Sidebar Menu Items - These collapse to the responsive navigation menu on small screens -->
            <div class="collapse navbar-collapse navbar-ex1-collapse">
                <ul class="nav navbar-nav side-nav">
                    <li>
                        <a href="{{ url('home') }}"><i class="fa fa-fw fa-dashboard"></i> Dashboard</a>
                    </li>
                    <li>
                        <a href="{{ url('view_users') }}"><i class="fa fa-fw fa-users"></i> Users</a>
                    </li>
                    <li>
                        <a href="{{ url('category_index') }}"><i class="fa fa-fw fa-file"></i> Categories</a>
                    </li>
                    <li>
                        <a href="{{ url('product_index') }}"><i class="fa fa-fw fa-file"></i> Products</a>
                    </li>

                    <li>
                        <a href="{{ url('show_order') }}"><i class="fa fa-fw fa-file"></i> Orders</a>
                    </li>

                     
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </nav>
        