{% extends 'dashboard/layouts/base.html.twig' %}
 


    {# to include heading page #}
    {% block heading %}
    <div class="col-md-12"> 
     
        <h1 class="page-header">
            Categories
            <small>Subheading</small>
        </h1>
        <ol class="breadcrumb">
            <li>
                <i class="fa fa-dashboard"></i>  <a href="{{url('home')}}">Dashboard</a>
            </li>
            <li>
                <i class="fa fa-file"></i> <a href="{{url('category_index')}}"> Categories </a>
            </li>
            <li class="active">
                <i class="fa fa-file"></i> Create Category
            </li>
        </ol>
    </div>
    {% endblock %}
     





{# to include body #}

{% block body %}
<div class="col-md-12">
    <div class="col-md-6 col-md-offset-3">
         <form method="POST" action="{{url('category_store')}}">
         {# the argument of csrf_token() is an arbitrary string used to generate the token #}
    <input type="hidden" name="token" value="{{ csrf_token('category_store') }}"/>
            <div class="form-group">
                <label>Category Name</label>
                <input class="form-control" name="name" required>
                

                {# to display errors #}
                {% if errors is defined %}
                    {% for error in errors %}
                        {% if error.propertyPath == 'name' %}
                        <p class="text-red text-xs italic">{{ error.message }}</p>
                        {% endif %}
                    {% endfor %}
                {% endif %}
                 
            </div>


            <div class="form-group">
                <label>Category Description</label>
                <textarea class="form-control" rows="3" name="description" required></textarea>

                {# to display errors #}
                {% if errors is defined %}
                    {% for error in errors %}
                        {% if error.propertyPath == 'description' %}
                            <p class="text-red text-xs italic">{{ error.message }}</p>
                        {% endif %}
                    {% endfor %}
                {% endif %}
                
            </div>


            <div class="form-group">
                 
                <input class="btn btn-primary" type="submit" value="save">
                 
            </div>

            
         </form>
    </div>

</div>
 
        

{% endblock %}