{% extends 'dashboard/layouts/base.html.twig' %}
 


    {# to include heading page #}
    {% block heading %}
    <div class="col-md-12"> 
     
        <h1 class="page-header">
            Products
            <small>Subheading</small>
        </h1>
        <ol class="breadcrumb">
            <li>
                <i class="fa fa-dashboard"></i>  <a href="{{url('home')}}">Dashboard</a>
            </li>
            <li>
                <i class="fa fa-file"></i> <a href="{{url('category_index')}}"> Categories </a>
            </li>
            <li class="active">
                <i class="fa fa-file"></i> Edit Category
            </li>
        </ol>
    </div>
    {% endblock %}
     





{# to include body #}
{% block body %}
<div class="col-md-12">
    <div class="col-md-6 col-md-offset-3">
         <form method="POST" action="{{url('category_update', {'id':category.id})}}">
         {# the argument of csrf_token() is an arbitrary string used to generate the token #}
    <input type="hidden" name="token" value="{{ csrf_token('category_store') }}"/>
            <div class="form-group">
                <label>Category Name</label>
                <input class="form-control" name="name" value="{{category.name}}">
                <p class="help-block">Example block-level help text here.</p>
            </div>


            <div class="form-group">
                <label>Category Description</label>
                <textarea class="form-control" rows="3" name="description">{{category.description}}</textarea>
            </div>


            <div class="form-group">
                 
                <input class="btn btn-success" type="submit" value="Update">
                 
            </div>

                {% if errorMessage is defined %}
            <p>{{ errorMessage }}</p>
        {% endif %}
         </form>
    </div>

</div>
 
        

{% endblock %}