{% extends 'dashboard/layouts/base.html.twig' %}
 


    {# to include heading page #}
    {% block heading %}
    <div class="col-md-12"> 
     
        <h1 class="page-header">
            Products
            <small>Subheading</small>
        </h1>
        <ol class="breadcrumb">
            <li>
                <i class="fa fa-dashboard"></i>  <a href="index.html">Dashboard</a>
            </li>
            <li class="active">
                <i class="fa fa-file"></i> Categories
            </li>
        </ol>
    </div>
    {% endblock %}
     





{# to include body #}

{% block body %}
<div class="col-md-12">
 
    <a class="btn btn-primary" href="{{url('category_create')}}">
    <i class="fa fa-plus"></i> Add Category</a>

</div>
<div class="col-md-12">
    <h2>Categories Table</h2>
        <div class="table-responsive">
            <table class="table table-bordered table-hover">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Category Name</th>
                        <th>Category Description</th>
                        <th>control</th>
                    </tr>
                </thead>
                <tbody>
                  
                
                {% for category in categories  %}
                    <tr>
                        <td>{{ category.id }}</td>
                        <td>{{ category.name }}</td>
                        <td>{{ category.description }}</td>
                         <td>

                            <a href="{{path('category_edit', {'id':category.id} )}}" class="btn btn-primary" 
                                data-toggle="tooltip" data-placement="top" title="@lang('site.edit')">
                                <i class="fa fa-edit fa-1x"></i>
                            </a>
                            
                        
                            <a href="{{path('category_delete', {'id':category.id} )}}"class="btn btn-danger" 
                                onclick="if(!confirm('Are You Sure Deleting')) return false;" data-toggle="tooltip" data-placement="top" 
                                title="Are You Sure Deleting">
                                <i class="fa fa-trash-o fa-1x"></i>
                            </a>
                           
                        </td>
                    </tr>
                     {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
        

{% endblock %}