{% extends 'dashboard/layouts/base.html.twig' %}
 


    {# to include heading page #}
    {% block heading %}
    <div class="col-md-12"> 
     
        <h1 class="page-header">
            Products
            <small>Subheading</small>
        </h1>
        <ol class="breadcrumb">
            <li>
                <i class="fa fa-dashboard"></i>  <a href="{{url('home')}}">Dashboard</a>
            </li>
            <li>
                <i class="fa fa-file"></i> <a href="{{url('product_index')}}"> Products </a>
            </li>
            <li class="active">
                <i class="fa fa-file"></i> Create Product
            </li>
        </ol>
    </div>
    {% endblock %}
     





{# to include body #}

{% block body %}
<div class="col-md-12">
    <div class="col-md-6 col-md-offset-3">
         <form method="POST" action="{{url('product_store')}}" enctype="multipart/form-data">
           {# the argument of csrf_token() is an arbitrary string used to generate the token #}
            <input type="hidden" name="token" value="{{ csrf_token('store_product') }}"/>
            {# to select category #}
            <div class="form-group">
                <label>Categories</label>
                <select class="form-control" name="category_id" required>
                    <option disabled>Select Ctagory</option>
                    {% if categories is defined %}
                        {% for category in categories %}
                            <option value="{{category.id}}">{{category.name}}</option>
                        {% endfor %}
                    {% endif %}
                </select>
            </div>
            <div class="form-group">
                <label>Product Name</label>
                <input class="form-control" type="text" name="name" required>
                    

                {# to display errors #}
                {% if errors is defined %}
                    {% for error in errors %}
                        {% if error.propertyPath == 'product' %}
                        <p class="text-red text-xs italic">{{ error.message }}</p>
                        {% endif %}
                    {% endfor %}
                {% endif %}
            </div>


            <div class="form-group">
                <label>Product Description</label>
                <textarea class="form-control" rows="3" name="description" required></textarea>
                {# to display errors #}
                {% if errors is defined %}
                    {% for error in errors %}
                        {% if error.propertyPath == 'description' %}
                        <p class="text-red text-xs italic">{{ error.message }}</p>
                        {% endif %}
                    {% endfor %}
                {% endif %}
            </div>

            <div class="form-group">
                <label>Purchase Price</label>
                <input class="form-control" type="number" step="0.5" name="purchase_price" required>
                   
                {# to display errors #}
                {% if errors is defined %}
                    {% for error in errors %}
                        {% if error.propertyPath == 'purchase_price' %}
                        <p class="text-red text-xs italic">{{ error.message }}</p>
                        {% endif %}
                    {% endfor %}
                {% endif %}
            </div>

            <div class="form-group">
                <label>Sale Price</label>
                <input class="form-control" type="number" step="0.5" name="sale_price" required>
                   
                {# to display errors #}
                {% if errors is defined %}
                    {% for error in errors %}
                        {% if error.propertyPath == 'sale_price' %}
                        <p class="text-red text-xs italic">{{ error.message }}</p>
                        {% endif %}
                    {% endfor %}
                {% endif %}
            </div>

            <div class="form-group">
                <label>Stock</label>
                <input class="form-control" type="number" min="1" name="stock" required>
                   
                {# to display errors #}
                {% if errors is defined %}
                    {% for error in errors %}
                        {% if error.propertyPath == 'stock' %}
                        <p class="text-red text-xs italic">{{ error.message }}</p>
                        {% endif %}
                    {% endfor %}
                {% endif %}
            </div>
           <div class="form-group">
                <label>File input</label>
                <input type="file" name="image" required>
            </div>
            <div class="form-group">
                 
                <input class="btn btn-primary" type="submit" value="save">
                 
            </div>
 
         </form>
    </div>

</div>
        

{% endblock %}